/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

@import url("https://fonts.googleapis.com/css?family=Montserrat|Raleway|Roboto");

.container {
  min-height: 100vh;
  padding-top: 70px;
}


// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

.marged-for-navbar {
  margin-top: 70px;
}

.padded-row {
  padding: 10px 10px;
}

h1 {
  padding: 25px 0px;
}

// font
h1, h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
  color: rgba(0,0,0,0.7);
}

a {
  color: rgba(0,0,0,0.6);
  &:hover {
    text-decoration: none;
    color: rgba(0,0,0,0.4);
  }
}

.text-right {
  margin: 20px 0px 0px 0px;
  text-align: right;
}

.form-actions {
  text-align: right;
  .btn-vale-success {
    width: 200px;
  }
}
