<div class="row padded-row back-possibility">
  <%= link_to 'See Restaurant', @restaurant, class: 'btn-vale-success' %>
</div>

<div class="row padded-row">
  <h1>Editing Restaurant</h1>
</div>

<div class="row padded-row">
  <%= render 'form', restaurant: @restaurant %>
</div>


