.btn-vale {
  border-radius: 30px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  padding: 10px 15px;
  font-weight: lighter;
  opacity: 0.6;
  &:hover {
    opacity: 1;
    text-decoration: none;
    color: white;
  }
}

.btn-vale-success {
  border-radius: 30px;
  color: $green;
  background-color: transparent;
  border: 1px solid $green;
  padding: 10px 15px;
  margin: 10px;
  font-weight: lighter;
  opacity: 0.6;
  &:hover {
    opacity: 1;
    text-decoration: none;
    color: $green;
  }
}
